<div class="note-form">
  <%= bootstrap_form_for(note) do |f| %>
    <% if note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(note.errors.count, 'error') %> prohibited this note from being saved:</h2>

        <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.text_field :subtitle %>
    </div>

    <%= f.label 'Image URL' %>
    <span class="fa fa-question-circle" title="This is the image that will be shown on the link to this article" data-toggle="tooltip" data-placement="top"></span>

    <div class="field">
      <%= f.text_field :image_url, hide_label: true %>
    </div>

    <div class="field note-new-body">
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.check_box :comments_disabled %>
    </div>

    <div class="field">
      <%= f.check_box :is_private %>
    </div>

    <div class="mt-4">
      What technologies are in this note?
      <%= text_field :note, :skill, id: 'skill-tags' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
      var s = <%= raw @skills.as_json %>;
      var skills = [];
      for (var i = 0; i < s.length; i++) {
          skills.push({skill: s[i]})
      }
      $('#skill-tags').selectize({
          maxItems: 3,
          create: false,
          persist: false,
          valueField: 'skill',
          labelField: 'skill',
          searchField: ['skill'],
          options: skills,
      });
  })
</script>
