<div class="container my-2">
  
  <%= render partial: 'header' %>

  <div class="centered my-2">
    <i><%= @note.subtitle %></i>
  </div>

  <div class="note-body">
    <%= markdown @note.body %>
  </div>

  <%= render partial: 'buttons' %>

  <% unless @note.comments_disabled %>
    <hr class="m-5">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      this.page.url = "<%= request.original_url %>";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "<%= @note.slug %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://devsr.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <% end %>
</div>
