<%= link_to "/notes/#{n.slug}" do %>
  <div class="card note-card my-3 p-3">
    <% unless n.image_url.blank? %>
      <img class="card-img-top" src="<%= n.image_url %>" alt="<%= n.image_url %>">
    <% end %>
    <h4 class="card-title"><%= n.title.nil? ? "#{n.body[0..20]}..." : n.title %></h4>
    <div class="card-block">
      <p class="card-text"><%= n.body.split("\n", 2)[0] %></p>
    </div>
  </div>
<% end %>