<%= link_to "/notes/#{note.slug}" do %>
  <div class="card note-card my-3 p-3">
    <% unless note.image_url.blank? %>
      <img class="card-img-top" src="<%= note.image_url %>" alt="<%= note.image_url %>">
    <% end %>
    <h4 class="card-title"><%= note.title.nil? ? "#{note.body[0..20]}..." : note.title %></h4>
    <div class="card-block">
      <p class="card-text"><%= note.subtitle %></p>
    </div>
  </div>
<% end %>