<div class="container">

  <% if @users.blank? %>
      <h4 class="mt-4">Woops! Didn't find any users. Try another search.</h4>
  <% end %>

  <% unless @users.blank? %>
    <table class="table table-links mt-4">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Top Skills</th>
        <th>Recent Notes</th>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @users.each do |user| %>
          <%= link_to "/users/#{user.slug}" do %>
            <tr>
              <td>
                <%= link_to "/users/#{user.slug}" do %>
                  <img src="<%= user.avatar_url %>" class="endorser-img-index"/></td>
                <% end %>
              </td>
              <td>
                <%= link_to "/users/#{user.slug}" do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <% user.top_skills.each do |s| %>
                  <%= s %><br>
                <% end %>
              </td>
              <td>
                <ul class="list-unstyled list-no-padding">
                  <% user.recent_notes.each do |n| %>
                    <li><%= link_to n.title.titleize, n %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
