<div class="container">
  <h1>Search Results</h1>

  <% if @users.blank? %>
      <h4>Woops! Didn't find any users. Try another search.</h4>
  <% end %>

  <% unless @users.blank? %>
    <table class="table table-links">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Top Skills</th>
        <th>Recent Notes</th>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @users.each do |user| %>
          <%= link_to user do %>
            <tr>
              <td>
                <%= link_to user do %>
                  <img src="<%= user.avatar_url %>" class="endorser-img-index"/></td>
                <% end %>
              </td>
              <td>
                <%= link_to user do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <% user.top_skills.each do |s| %>
                  <%= s %><br>
                <% end %>
              </td>
              <td>
                <ul class="list-unstyled list-no-padding">
                  <% user.recent_notes.each do |n| %>
                    <li><%= link_to n.title.titleize, n %></li>
                  <% end %>
                </ul>
              </td>
              <% if can?(:manage, :users) %>
                <td><%= counter += 1 %></td>
                <td><%= user.rating.to_s %></td>
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
