<div class="container">
  <div class="row">
    <div class="col centered">
      <img src="<%= @user.avatar_url %>" class="user-avatar-img my-3"/><br>
      <h1><%= @user.name %></h1>
    </div>
  </div>

  <div class="centered mb-2">
    <% @achievements.each do |a| %>
      <%= image_tag("badges/#{a.icon_name}", class: 'badge-icon', title: "<b>#{a.name}</b><br>#{a.description}", data: { toggle: 'tooltip', placement: 'top', html: 'true' })  %>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col centered">
      <% if @endorsers.empty? %>
        0 endorsers
      <% else %>
        <a id="endorsers-show"><%= @endorsers.count %> endorsers</a>
      <% end %>
    </div>
  </div>

  <%= render partial: 'skill_rating' unless @user.endorsers.blank? %>

  <div class="row">
    <div class="col"><h3>Recent Notes:</h3></div>
    <div class="col note-table-new-btn"><%= button_to 'New', new_note_path, method: :get, class: 'btn btn-primary' if @user == current_user %></div>
  </div>

  <%= render partial: 'note', collection: @notes, as: 'note' unless @notes.empty? %>

</div>

<script>
    $(document).ready(function() {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>



<!-- Modal -->
<div id="endorsers-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Endorsers</h4>
      </div>
      <div class="modal-body">
        <table>
        <% @endorsers.each do |e| %>
          <tr>
            <td><img src="<%= e.avatar_url %>" class="endorser-img-modal"/></td>
            <td id="user-link" style="vertical-align: middle"><a href="<%= user_path(e) %>" target="_blank"><%= e.name %></a></td>
          </tr>
        <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready( function() {
      $('#endorsers-show').on('click', function () {
          $('#endorsers-modal').modal('show')
      });
  })
</script>