<%= @user.email %><br>
<%= @user.name %><br>
<%= @user.username %><br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %><br>
<br>

<div style="float:left">
  <th>Endorsed By:</th><br>
  <%= render partial: 'endorsement', collection: @endorsers, as: 'e' unless @endorsers.empty? %>
</div>

<div style="float:left; padding-left: 2em;">
  <th>Endorsed:</th><br>
  <%= render partial: 'endorsement', collection: @endorsees, as: 'e' unless @endorsees.empty? %>
</div>

<div>
  <% if @endorsers.empty? %>
      This user currently has no endorsements.
  <% end %>
</div>

<div style="float:left; padding-left: 2em;">
  <th>Notes:</th><br>
  <%= render partial: 'note', collection: @notes, as: 'n' unless @notes.empty? %>
</div>
