<div>
  <%= @user.email %><br>
  <%= @user.name %><br>
  <%= @user.username %><br>
</div>
<br>
<%= link_to 'Edit', edit_user_path(@user) %><br>
<br>

<div style="float:left">
  Endorsed By:<br>
  <%= render partial: 'endorsement', collection: @endorsers, as: 'e' unless @endorsers.empty? %>
</div>

<div style="float:left; padding-left: 2em;">
  Endorsed: <%= link_to '(New)', new_endorsement_path if @user == current_user %><br>
  <%= render partial: 'endorsement', collection: @endorsees, as: 'e' unless @endorsees.empty? %>
</div>

<div>
  <% if @endorsers.empty? %>
      This user currently has no endorsements.
  <% end %>
</div>

<div style="float:left; padding-left: 2em;">
  Notes: <%= link_to '(New)', new_note_path if @user == current_user %><br>
  <%= render partial: 'note', collection: @notes, as: 'n' unless @notes.empty? %>
</div>
