<div class="container">
  <h1>Achievements</h1>

  <table>
    <thead>
      <tr>
        <th>Badge</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @achievements&.each do |achievement| %>
        <tr>
          <td><%= image_tag "badges/#{achievement.icon_name}" %></td>
          <td><%= achievement.name %></td>
          <td><%= achievement.description %></td>
          <td><%= link_to 'Grant', achievement_grant_path(achievement), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_achievement_path(achievement), class: 'btn btn-secondary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Achievement', new_achievement_path, class: 'btn btn-primary' %>
</div>
