<!DOCTYPE html>
<html>
  <head>
    <title>Silvertuna</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% flash.each do |k, v| %>
      <div id="<%= k %>"><%= v %></div>
    <% end %>

    <%= yield %>
    <% unless user_signed_in? %>
      <%= render 'layouts/new_session_modal' %>
    <% end %>

  </body>

</html>
